/* Imports font Roboto Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.hero-image {
    background-image: linear-gradient(#00D4FE,black);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* Adds the Roboto font family */
    font-family: 'Roboto', sans-serif;
}

.hero-text {
    /* Text style */
    text-align: center;
    color: white;
    
    /* Text position */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

h2 {
    color: #0C6D78;
}